* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 95vw;
  display: flex;
  margin: 1%;
}

.main-container {
  height: 85%;
  width: 100%;
  /* padding: 1%; */
  display: flex;
  margin-top: 3%;
  margin-left: 2%;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}

.rotating-text {
  animation: 1.6s ease-in-out infinite;
}

.right-container {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.left-container {
  width: 45%;
  height: 100%;
}

.left-container img {
  width: 100%;
  height: 100%;
}

.header,
.tagline {
  width: 80%;
  height: 10%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h1 {
  padding-top: 10px;
}

.header div {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div > button {
  width: 50%;
  height: 80%;
  font-size: large;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.header > div > #login {
  background-color: transparent;
}

.header > div > #login:hover {
  color: orange;
}

.header > div > #signup {
  background-color: black;
  color: white;
}

.tagline {
  margin: 5%;
  height: 13%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.tagline > h3 {
  color: #a7a7a7;
}

.login-form {
  height: 70%;
  width: 80%;
  margin-top: 5%;
}

#login,
#Signup {
  border-radius: 0;
  width: 25%;
  /* color: #fc8019; */
  background-color: black;
  font-size: large;
}

.signup-form {
  display: none;
}

@media (max-width: 900px) {
  .left-container {
    display: none;
  }

  .right-container {
    width: 100%;
  }

  .header > div > button {
    font-size: small;
  }
}

@media (max-width: 400px) {
  .header > div {
    width: 50%;
  }

  #Signup {
    width: 50%;
  }

  .main-container {
    height: 80%;
    margin-top: 15%;
  }

  .tagline {
    margin-top: 10%;
  }
  .tagline h3{
    font-size: 20px;
  }

  .tagline h1{
    font-size: 25px;
  }

  .login-form {
    position: relative;
    margin-top: 10%;
  }
}
